In [ ]:
# 1.0 Data Loading Code Runs At This Point
import pandas as pd

# 1.0.1
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error,accuracy_score

# 1.0.2
from pathlib import Path

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# 1.0.3 Get data from gdrive:

from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

In [ ]:
# 1.1 Path to data folder:

pathToFolder = "/gdrive/MyDrive/bdda1/bdda1/mobile_price"

In [ ]:
# 1.11 path + Filename:

path = Path(pathToFolder) / "train.csv"

In [ ]:
# 1.2 Display from a cell outputs of multiple commands:

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [ ]:
# 1.3 Load data:

X = pd.read_csv(path)

In [ ]:
# 1.3.1 About data:

X.shape   # (2000, 21)
X.head()

(2000, 21)

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

In [ ]:
# 1.3.2 Data types:
X.dtypes

battery_power      int64
blue               int64
clock_speed      float64
dual_sim           int64
fc                 int64
four_g             int64
int_memory         int64
m_dep            float64
mobile_wt          int64
n_cores            int64
pc                 int64
px_height          int64
px_width           int64
ram                int64
sc_h               int64
sc_w               int64
talk_time          int64
three_g            int64
touch_screen       int64
wifi               int64
price_range        int64
dtype: object

In [ ]:
# 1.2 How many unique values each column has:

for i in X.columns:
  print(i, X[i].nunique())

battery_power 1094
blue 2
clock_speed 26
dual_sim 2
fc 20
four_g 2
int_memory 63
m_dep 10
mobile_wt 121
n_cores 8
pc 21
px_height 1137
px_width 1109
ram 1562
sc_h 15
sc_w 19
talk_time 19
three_g 2
touch_screen 2
wifi 2
price_range 4

In [ ]:
# 1.5 Filter rows with missing values #False is treated as 0 whereas true is treated as 1
X.isnull().sum().sum()

0

In [ ]:
# 2.0 Choose target and features
y = X.px_width
X.pop('px_width')

0        756
1       1988
2       1716
3       1786
4       1212
        ...
1995    1890
1996    1965
1997    1632
1998     670
1999     754
Name: px_width, Length: 2000, dtype: int64

In [ ]:
# 2.1 Split data into training and validation data, for both features and target:

train_X, val_X, train_y, val_y = train_test_split(X, y,random_state = 0)

In [ ]:
# 2.1 Split data into training and validation data, for both features and target:

train_X, test_X, y_train, y_test = train_test_split(X, y,random_state = 0, test_size=0.2)   #0.2 represents 20% dataset will be used in testing

In [ ]:
X.shape
train_X.shape
test_X.shape
y_test.shape
y_train.shape

(2000, 19)

(1600, 19)

(400, 19)

(400,)

(1600,)

In [ ]:
# 3.0 A function to model and also to calculate MAE
def get_mae(max_depth_nodes, train_X, val_X, train_y, val_y):
  # 3.1 Instantiate Decision tree regressor
    model = DecisionTreeRegressor(max_depth_nodes=max_depth_nodes, random_state=0)
    # 3.2 Train model
    model.fit(train_X, train_y)
    # 3.3 Make predictions
    preds_val = model.predict(val_X)
    # 3.4 Get error
    mae = mean_absolute_error(val_y, preds_val)
    # 3.5 Return error
    return(mae)

In [ ]:
# 3.1 Compare MAE with differing values of max_leaf_nodes:
#  Get

for max_depth_nodes in [5, 10, 100, 5000]:
    my_mae = get_mae(max_depth_nodes, train_X, test_X, y_train, y_test)
    print(f"Max depth nodes: {max_depth_nodes} \t\t Mean Absolute Error: {my_mae}")

TypeError: ignored